[submodule "HDLGen-ChatGPT"]
	path = HDLGen-ChatGPT
	url = https://github.com/Logicademy/HDLGen-ChatGPT.git
[submodule "PYNQ-SoC-Builder"]
	path = PYNQ-SoC-Builder
	url = https://github.com/Logicademy/PYNQ-SoC-Builder.git
